* {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

body {
    background-color: #eee;
}

.banner {
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
    background: linear-gradient(to right, #b06ab3, #4568dc);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.banner__title {
    font-size: 1.85rem;
    color: #eaeaea;
    text-align: center;
}

.banner__description {
    font-size: 1.2rem;
    text-align: center;
    color: #c8cadd;
    padding: 1rem;
}

.arrow-container {
    font-size: 5rem;
    font-weight: 300;
    color: #adb3c4;
    animation: movingArrow 2s infinite;
    position: absolute;
    bottom: 1rem;
    cursor: pointer;
}

@keyframes movingArrow {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(1rem);
    }
    100% {
        transform: translateY(0);
    }
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav__list {
    width: 90%;
    padding: 0rem;
    background-color: #dcdcdc;
    display: flex;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
    list-style: none;
    justify-content: space-evenly;
    overflow: auto;
    order: 1;
    margin: 0.5rem auto 1.5rem auto;
}

.nav__list li {
    margin: 0.2rem 0px 0rem 0.25rem;
    padding: 1rem 0;
    border-radius: 0.5rem 0.5rem 0px 0px;
    cursor: pointer;
    transition: 0.3s padding;
}

.nav__list li a {
    text-decoration: none;
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
    background: linear-gradient(to right, #b06ab3, #4568dc);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (min-width: 992px) {
    .nav__list li a {
        font-size: 1.1rem;
    }
}

.nav__list .focus a {
    background: inherit;
    color: #333;
    -webkit-text-fill-color: #474747;
}

.nav__search {
    width: 90%;
    display: flex;
    margin: 1.5rem auto 0.5rem auto;
    border: none;
    background-color: #dcdcdc;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 0.5rem;
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-position: right 0.6rem center;
    background-size: 2rem;
}

.nav__search:focus-visible {
    outline: none;
    color: rgb(49, 49, 49);
}

.nav__list li:last-child a {
    margin-right: none;
}

@media screen and (min-width: 500px) {
    .nav__list .focus a {
        background: inherit;
        color: #333;
        -webkit-text-fill-color: #474747;
    }
    .nav__list .focus {
        background-color: #eee;
        padding: 1rem 1.5rem;
    }
}

@media screen and (max-width: 308px) {
    .nav__list li {
        padding: 1rem 0.5rem;
    }
    .nav__list {
        justify-content: left;
        order: 1;
    }
    .nav__list li:first-child a {
        margin-left: 1rem;
    }
    .nav__list li:last-child a {
        margin-right: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 2rem auto;
        border-radius: 0.5rem;
        overflow: hidden;
        padding: 0;
    }
    .nav__list {
        border-radius: 0;
        width: 65%;
        padding: 0rem;
        margin: 0;
        background-color: #e0e0e0;
        display: flex;
        list-style: none;
        justify-content: start;
        overflow: auto;
        order: 0;
    }
    .nav__list li a {
        margin: 0 1rem;
    }
    .nav__list li a {
        text-decoration: none;
    }
    .nav__search {
        margin: 0;
        width: 35%;
        display: flex;
        border: none;
        background-color: #ddd;
        padding: 1rem 3rem 1rem 1rem;
        border-radius: 0;
        background-image: url("search.svg");
        background-repeat: no-repeat;
        background-position: right 0.6rem center;
        background-size: 2rem;
        border-left: 2px solid rgb(212, 212, 212);
    }
}

.card-container {
    columns: 2;
    column-gap: 1rem;
    width: 90%;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .card-container {
        columns: 3;
    }
}

@media screen and (min-width: 992px) {
    .card-container {
        columns: 4;
    }
}

.card {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    -moz-page-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.11);
    border-radius: 0.35em;
    background-color: #f1f1f1;
    position: relative;
    margin: 1rem 0
}

.card img:hover,
.card img:active {
    cursor: pointer;
    filter: brightness(0.7);
}

.card__image {
    transition: filter 0.7s;
}

.card__image:hover+.card__quick-view {
    display: block;
}

.card__quick-view:hover {
    display: block;
}

.card__title {
    color: rgb(73, 73, 73);
    font-size: 0.9rem;
    padding: 0.5rem;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .card__title {
        font-size: 1.1rem;
    }
}

.card__quick-view+.card__image {
    filter: brightness(0.7);
}

.card__quick-view {
    display: none;
    opacity: 0.95;
    position: absolute;
    background-color: #333;
    padding: 0.6rem;
    color: rgb(211, 211, 211);
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
}

@media screen and (min-width: 992px) {
    .card__quick-view {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 500px) {
    .banner__title {
        font-size: 2rem;
    }
    .banner__description {
        font-size: 1.5rem;
    }
    .arrow-container {
        font-size: 4rem;
    }
}

@media screen and (min-width: 500px) and (orientation: landscape) {
    .banner__title {
        font-size: 1.8rem;
    }
    .banner__description {
        font-size: 1.4rem;
    }
    .arrow-container {
        font-size: 6rem;
    }
}

@media screen and (min-width: 1000px) {
    .banner__title {
        font-size: 2.5rem;
    }
    .banner__description {
        font-size: 1.8rem;
    }
    .arrow-container {
        font-size: 6rem;
    }
}

.card__image--open {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
    width: 100vw;
    margin: 0;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 1;
    overflow: auto;
    border-radius: 0;
}

.card__image--open img {
    animation: modalOpen 0.3s;
    height: 75%;
    max-width: 90%;
    transition: none;
}

@keyframes modalOpen {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

.card__image--open:hover img {
    cursor: auto;
    filter: none;
}

.card__image--open:hover .card__quick-view {
    display: none;
}

.card__image--open .card__close {
    display: block;
    color: rgb(202, 202, 202);
    font-size: 2rem;
    order: -1;
    margin: 1.5rem 0;
    margin-left: auto;
    margin-right: 1.5rem;
    cursor: pointer;
}

.card__image--open .card__title {
    font-size: 2rem;
    color: rgb(202, 202, 202);
    text-align: center;
}

.card__close {
    display: none;
}

@keyframes modalClose {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2);
    }
}

@media screen and (max-width: 850px) {
    .card__image--open .card__image {
        max-width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .card__image--open .card__image {
        max-width: 85%;
    }
}

.noResults {
    display: none;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    position: relative;
    padding: 1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    width: 80%;
    text-align: center;
    margin: auto;
}

.noResults__close {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 2rem;
}

footer {
    margin-top: 3rem;
}

.footer-contact {
    background-color: #303030;
    color: #d4d4d4;
    padding-bottom: 2rem;
}

.footer-contact__line {
    margin: 0;
    padding: 0;
    vertical-align: top;
    position: relative;
    bottom: -1rem;
}

.footer-contact__title {
    padding-top: 1.8rem;
    text-align: center;
    color: inherit;
    font-size: 1.75rem;
}

.footer-contact__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    padding-left: 0;
    border-bottom: 2px solid;
}

.footer-contact__icons a {
    font-size: 1.6rem;
    color: inherit;
    cursor: pointer;
}

.footer-contact__arrow-container {
    text-align: center;
    margin: 0.3rem 0 2rem 0;
}

.footer-contact__arrow {
    animation: movingArrow2 2s infinite;
    font-size: 2.5rem;
    transform: rotate(180deg);
    color: inherit;
}

@keyframes movingArrow2 {
    0% {
        transform: translateY(0) rotate(180deg);
    }
    50% {
        transform: translateY(1rem) rotate(180deg);
    }
    100% {
        transform: translateY(0) rotate(180deg);
    }
}

@media screen and (min-width: 700px) {
    .footer-contact__list {
        border: none;
    }
}

@media screen and (min-width: 1000px) {
    .footer-contact__arrow-container {
        text-align: center;
        margin: 0.5rem 0 4rem;
    }
    .footer-contact__list {
        padding: 0;
    }
}

.goUp {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 1.5rem 1.5rem 0;
    background: #4568dc;
    background: -webkit-linear-gradient(to right, #b06ab3, #4568dc);
    background: linear-gradient(to right, #b06ab3, #4568dc);
    border-radius: 50%;
    cursor: pointer;
    height: 3.4rem;
    width: 3.4rem;
    transform: scale(0);
    opacity: 0;
}

.goUp__popUp {
    animation: popUp 0.5s forwards;
}

.goUp__popOff {
    animation: popOff 0.3s forwards;
}

@keyframes popUp {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popOff {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.goUp__arrow {
    font-size: 3rem;
    color: #eee;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
}

@media screen and (min-width: 700px) {
    .goUp {
        margin: 0 1.5rem 1.25rem 0;
    }
}